@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/* Estilos David */

/* Variables de Diseño */

:root {
    /* Colores */ 

        /* Primarios */ 
    --mainBG: hsl(249, 68, 29);
    --colorBG: hsl(32, 100, 50);
    
        /* Secundarios */ 
    --textBG: hsl(233, 95, 84);
    --cornflowerblue: hsl(230, 97, 73);
    --cultured: hsl(228, 22, 95);

    /* Peso de Fuente */
    --regular: 400;
    --semiBold: 600;
    --Bold: 700;

    /* Tamaño de fuente */
    --fontsize: 1.2rem; 


    /* Fuente */
    font: 'Inter';

}

html {
    /* font-size para que 10px = 1rem */
    font-size: 62,5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 2;
    font-family: var(--font); 
    color: var(--mainBG);
    background-color: var(--colorBG); 
    background-image: url(../../imagenes/residencias-lujosas.jpg);
    background-position: center; 
    background-size: cover;
}

/* Utilidades de la Pagina */
header{
    

    padding-bottom: 30rem; 
}

/* Header */


/*Contenedor de icono titulo y menu*/
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;
    background-color: rgba(255, 134, 0, 0.8);

    border-radius: 100px;
}

/*el logo*/
.logo__img{
    width: 10%;
    height: auto;
}

/* Titulo de la pagina */
.logo__titulo{
    font-size: 3.5rem;
    height: 0 auto;
    margin: 0 auto;
    width: 60%;
    font-family: 'Inter';
    font-style: "normal";
    color: #022B3A;
}

nav {
width: 80%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}

/*menu*/
.nav {
    display: flex;
    justify-content: space-between;
    
}

/* opciones de navegacion */
.nav__opcion{
    padding: .75em;
    background-color: orange;
    color: #F1F2F6;
    border-radius: 50px;
}

/* Hover del navbar */
.nav__opcion:hover{
    background-color: #27187E;
    transition: 1.5s;
}

/* Slogan */
.slogan {
padding: 3rem;
width: 100%;
max-width: 616px;
text-align: center;
font-size: 2rem;
font-family: 'Inter';
color: #022B3A;
background-color:  rgba(174, 184, 254, .85);
border-radius: 0px 50px;

}

/* subtitulo*/
.subtitulo {
    padding-top: 30rem;
}

/* Pie de Pagina */
footer{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    
    font-family: 'Inter';
    font-size: 1.5rem;
    color: #AEB8FE;
    background-color: #27187E;
}


